<!-- Controls toolbar partial for GPS Tracker UI -->
<div class="controls-toolbar">
  <button class="control-button" id="routeToggle">SHOW route</button>
  <button class="control-button" id="plazaToggle">SHOW plazas</button>
  <button class="control-button" id="portosToggle">SHOW portos</button>
  <button class="control-button" id="medicalToggle">SHOW medical</button>
  <button class="control-button" id="landmarksToggle">SHOW landmarks</button>
  <button class="control-button" id="centerToggle">Center Map</button>
</div>