<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.glitchcube.monitor</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/eristmini/glitch/glitchcube/scripts/glitchcube_monitor.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>StartInterval</key>
    <integer>60</integer>
    
    <key>StandardOutPath</key>
    <string>/Users/eristmini/glitch/monitor_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/eristmini/glitch/monitor_stderr.log</string>
    
    <key>UserName</key>
    <string>eristmini</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <key>RACK_ENV</key>
        <string>production</string>
    </dict>
    
    <key>WorkingDirectory</key>
    <string>/Users/eristmini/glitch/glitchcube</string>
</dict>
</plist>